<div class="container">
  <h1>All restaurants</h1>
  <ul>
    <%@restaurants.each do |restaurant| %>
      <!-- <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
       -->
         <%= link_to "#{restaurant.name}", { :action => :show, :id => restaurant.id }, class: "list-group-item list-group-item-action"  %>
    <% end %>
  </ul>
</div>
